#grid-container {
	display: grid;

}

#skills {
	border: 2px solid white;
}

#modules {
	border: 2px solid white;
}

#resource_sum {
	border: 2px solid white;
}

#labor_sum {
	border: 2px solid white;
}

#machine_sum {
	border: 2px solid white;
}
