#grid-container {
	display: grid;
	grid-template-columns: auto auto auto;
}

#skills {
	border: 2px solid white;
}

#modules {
	border: 2px solid white;
}

#main {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 3; 
	border: 2px solid white;
}

#resource_sum {
	grid-row-start: 1;
	grid-row-end: 1;
	border: 2px solid white;
}

#labor_sum {
	border: 2px solid white;
}

#machine_sum {
	border: 2px solid white;
}
