body {
	background-color: #555555;
}

div {
	color: white;
}

#grid-container {
	display: grid;
	grid-template-columns: auto auto 20%;
	grid-template-rows: 20% auto auto;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 10px;
}

#skills {
	grid-column: 1;
	grid-row: 1;
	border: 2px solid white;
}

#modules {
	grid-column: 2;
	grid-row: 1;
	border: 2px solid white;
}

#main {
	grid-column: 1 / span 2;
	grid-row: 2 / span 2;
	border: 2px solid white;
}

#resource_sum {
	grid-column: 3;
	grid-row: 1;
	border: 2px solid white;
}

#labor_sum {
	grid-column: 3;
	grid-row: 2;
	border: 2px solid white;
}

#machine_sum {
	grid-column: 3;
	grid-row: 3;
	border: 2px solid white;
}

#modules-table tr td input {
	width: 20px;
}

#skills-container tr td select {
	width: 100px;
}

#skills-container tr th select {
	width: 100px;
}
